{block content}

<h1 class="pt-5 text-center">SK Alpin</h1>
<h5 class="text-center text-uppercase">administrace</h5>
<hr class="w-100">

<div class="container">
	<div class="row text-center">
		<div class="col-md-4 mb-3">
			<a class="btn btn-outline-dark btn-lg w-100 py-4" n:href="Event:default">Akce</a>
		</div>
		<div class="col-md-4 mb-3">
			<a class="btn btn-outline-dark btn-lg w-100 py-4" n:href="News:default">Aktuality</a>
		</div>
		<div class="col-md-4 mb-3">
			<a class="btn btn-outline-dark btn-lg w-100 py-4" n:href="Gallery:default">Fotogalerie</a>
		</div>
		<div class="col-md-4 mb-3">
			<a class="btn btn-outline-dark btn-lg w-100 py-4" n:href="Page:default">Stránky</a>
		</div>
		<div class="col-md-4 mb-3">
			<a class="btn btn-outline-dark btn-lg w-100 py-4" n:href="ContactMessage:default">Zprávy</a>
		</div>
		<div class="col-md-4 mb-3">
			<a class="btn btn-outline-dark btn-lg w-100 py-4" n:href="Settings:default">Nastavení</a>
		</div>
	</div>
</div>