{form form}
	{formPair title}
	{formPair publishedAt}
	{formPair content}
	<div>
		{formPair image}
		<div class="d-flex justify-content-center flex-wrap mt-2 text-center" n:if="$item && !$item->isNew() && $item->getImage()">
			<p class="my-0"><img height="200" src="{$basePath}{$item->getImage()->getPath()}" alt="{$item->getTitle()}"></p>
			<div class="w-100">
				<a href="{plink deleteImage!, news => $item->getId()}" class="btn btn-outline-danger mt-2 border-radius-none" title="Smazat obrázek" onclick="return confirm('Opravdu smazat obrázek?');">
					Smazat obrázek
				</a>
			</div>
		</div>
	</div>
	{formPair published}
	{formPair submit}
{/form}
