{block content}

<div class="w-100 d-flex justify-content-center flex-wrap">
	<div class="g-max-width-600 text-center">
		<p class="g-mb-30">Zadejte uživatelské jméno<br> pro získání instrukcí pro obnovu hesla.</p>
		{control forgotPasswordForm}
	</div>
</div>