{block content}

<div class="w-100 d-flex justify-content-center flex-wrap">
	<div class="g-max-width-600 d-flex text-center">
		{control loginForm}
	</div>
	<div class="w-100 text-center">
		<a n:href="forgotPassword" class="small text-black">Zapomenuté heslo?</a>
	</div>
</div>

