<html lang="cs">
<head>
	<meta charset="utf-8">
	<title>Instrukce pro obnovu hesla | ondrejzamecnik.com</title>
</head>
<body>
<p>Dobrý den,</p>
<p>
	Obdrželi jsme žádost o změnu hesla. <br>
	Pro obnovu zapomenutého hesla následujte tento odkaz: <a href="{$link}">{$link}</a>
</p>
<br>
<hr>
<small><i>E-mail odeslán prostřednictvím webu <a href="https://www.ondrejzamecnik.com">ondrejzamecnik.com</a>.</i></small>
</body>
</html>
