{layout './@layout.latte'}

{block content}

<h1 class="text-uppercase g-color-black g-mt-minus-8 mb-0">Method Not Allowed</h1>
<hr class="g-brd-gray-light-v3 g-my-15">
<p class="g-font-size-13 g-mb-15">The requested method is not allowed for the URL.</p>
