{varType Nette\Forms\Controls\TextInput $input}
{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\TextInput $input
 * @param string                         $iconPrefix       Icon prefix (fa fa-)
 *}

{if $outer}
	<div class="form-group-filter mr-2 mb-3">
		{label $input /}
		<div class="row mb-3">
			<div class="col-sm-9">
				{input $input, data-dateinput-type => $input->getControl()->getAttribute('data-showMonthAndYearOnly') ? 'month' : 'date', class => 'form-control'}
			</div>
		</div>
	</div>
{else}
	<div class="form-inline">
		<div class="input-group">
			{input $input}
			<label n:name="$input" class="input-group-addon"><i class="{$iconPrefix}calendar"></i></label>
		</div>
	</div>
{/if}
