{**
 * @param Filter                         $filter
 * @param Nette\Forms\Controls\SelectBox $input
 *}

{if $outer}
	{formPair $input class => "form-group-filter mr-2 mb-3"}
{else}
	{input $input}
{/if}
