<div class="position-relative grid-filter-search pr-2 mt-4 pt-2 mb-3">
	<i class="fa fa-search text-info grid-filter-search__icon pt-2"></i>
	{input $input class => 'form-control grid-filter-search__input', placeholder => $translator->translate('common.search')}
</div>