{block content}

<section class="section">
	<div class="container">
		<h1>{$page->getTitle()}</h1>
		<img n:if="$page->getImage()" src="{$basePath}{$page->getImage()->getPath()}" alt="{$page->getTitle()}" class="img-fluid rounded mb-4">
		<div class="page-content">{$page->getContent()|noescape}</div>
	</div>
</section>
