{block content}

<div class="d-flex justify-content-between align-items-center my-3">
	<h1 class="h3 my-0">Akce</h1>
	<a class="btn btn-outline-dark border-radius-none" n:href="edit">Přidat akci</a>
</div>

{control eventGrid}
