{block content}

<section class="section">
	<div class="container">
		<h1>{$page->getTitle()}</h1>
		<div class="page-content">{$page->getContent()|noescape}</div>

		<div class="mt-5">
			<h2>Napište nám</h2>
			<div class="content-form">
				{control contactForm}
			</div>
		</div>
	</div>
</section>
