@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 100;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 200;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-Light.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 300;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 400;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 500;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 600;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-Bold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 700;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 800;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/Urbanist-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: 900;
}