h1 {
	font-weight: bold;
}
h2 {
	font-weight: bold;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 24px;
	font-weight: bold;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
	font-weight: bold;
}
p {
	font-weight: 300;
	font-size: 18px;
}

strong {
	font-weight: bold !important;
}

a {
	color: black;
}

a:hover {
	color: darkslategray;
}